# Archivos y carpetas generadas por el sistema operativo
.DS_Store
Thumbs.db

# Carpeta node_modules, generada por Node.js si estás utilizando paquetes npm
node_modules/

# Carpeta donde se guarda la cache de npm
npm-debug.log

# Archivos temporales
*.log
*.swp

# Si usas algún editor en particular, puedes añadir los archivos temporales que genera
# Ejemplo para Visual Studio Code
.vscode/

# Otras carpetas que podrían generarse durante el desarrollo
dist/
build/

# Archivos de configuración que contienen claves privadas o sensibles (¡ten cuidado con estos!)
.env
